body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
}

#title-container {
  text-align: center;
  font-size: 24px;
  margin-top: 10vh;
}

.blog-container {
  text-align: center;
  max-width: 900px;
}

.blog-container h2 {
  text-align: center;
  font-size: 28px;
}

.blog-container p {
  text-align: left;
  font-size: 14px;
}

.blog-container p code, .blog-container li code {
  font-size: 14px;
  background-color: rgb(235, 235, 235);
  padding: 2px;
}

.blog-container li {
  text-align: left;
  font-size: 14px;
}

.blog-container pre code {
  max-width: 800px;
  text-align: left;
  margin-left: 20px;
  display: block;
  background-color: rgb(235, 235, 235);
  overflow-x: auto; 
  padding: 15px;
}

.blog-container pre::-webkit-scrollbar {
  width: 8px;
}

.blog-container pre::-webkit-scrollbar-track {
  background-color: transparent;
}

.blog-container pre::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
}

.blog-container pre::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}

.intro-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.intro-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.intro-text {
  display: flex;
  flex-direction: column;  
  max-width: 600px;
  width: 100%;
}

.intro {
  font-size: 18px;
}

.blog-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.blog-item img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.content-wrapper {
  flex: 1;
}

.content-wrapper h2, .content-wrapper p {
  margin-top: 0;
}

.title-link {
  color: #000;
  text-decoration: none;
}

.title-link:hover {
  background-color: #f0f0f0;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: 4px solid #ccc; /* Gray bar on the left */
  padding-left: 10px; /* Indentation */
}
